.loader {
  width: 60%;
  height: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.loader::before {
  content: '';
  position: absolute;
  background-color: var(--primary);
  width: 0%;
  height: 100%;
  border-radius: 2px;
  animation: load 3.5s ease-in-out infinite;
  box-shadow: var(--primary) 0px 2px 29px 0px;
}

.container {
  display: flex;
  justify-content: center;
}

.loadTxt {
  text-align: center;
  /* margin: 25vh 0 0.5rem; */
}

@keyframes load {
  50% {
    width: 100%;
  }

  100% {
    right: 0;
    left: unset;
  }
}
